@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  width: 100%;
  background: #fafafa;
  position: relative;
  font-family: "roboto", sans-serif;
}

.navbar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.nav-wrapper {
  width: 70%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-img {
  height: 100%;
  margin-top: 5px;
}
.search {
  margin-top: -2px;
  background: #fafafa;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  margin-left: 300px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.search input {
  background: transparent;
  border: none;
  outline: none;
  width: 230px;
  font-weight: 500px;
  font-size: 16px;
}

.nav-items {
  height: 22px;
  position: relative;
}

.icon {
  height: 100%;
  cursor: pointer;
  margin: 0 10px;
  display: inline-block;
}
.main-home {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.wrapper {
  width: 70%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 30px;
}

.left-col {
  display: flex;
  flex-direction: column;
}

.status-wrapper {
  width: 100%;
  height: 120px;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 15px;
  padding: 10px;
  padding-right: 0;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
}

.status-card {
  cursor: pointer;
  flex: 0 0 auto;
  width: 80px;
  max-width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  padding: 3px;
  background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}
.add-story-pic {
  width: 80px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  padding: 3px;
}

.add-story-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}

.username {
  width: 71px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}
.post {
  width: 100%;
  height: auto;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 15px;
  margin-top: 40px;
}

.info {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.info .username {
  width: auto;
  font-weight: bold;
  color: #000;
  font-size: 14px;
  margin-left: 10px;
}

.info .options {
  height: 10px;
  cursor: pointer;
}

.info .user {
  display: flex;
  align-items: center;
}

.info .profile-pic {
  height: 40px;
  width: 40px;
  padding: 0;
  background: none;
}

.info .profile-pic img {
  border: none;
}

.post-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.post-content {
  width: 100%;
  padding: 20px;
}

.likes {
  font-weight: bold;
}

.description {
  margin: 10px 0;
  font-size: 14px;
  line-height: 20px;
}

.description span {
  font-weight: bold;
  margin-right: 10px;
}

.post-time {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.comment-wrapper {
  margin-left: 20px;
  width: 100%;
  height: 50px;
  border-radius: 1px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-wrapper .icon {
  height: 30px;
}

.comment-box {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}

.comment-btn,
.action-btn {
  width: 70px;
  margin-right: 20px;
  cursor: pointer;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-size: 16px;
  color: rgb(0, 162, 255);
  opacity: 1;
}

.reaction-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: -20px;
  align-items: center;
}

.reaction-wrapper .icon {
  height: 25px;
  margin: 0;
  margin-right: 20px;
}
.right-col {
  padding: 20px;
}

.profile-card {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.profile-card .profile-pic {
  flex: 0 0 auto;
  padding: 0;
  background: none;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.profile-card:first-child .profile-pic {
  width: 70px;
  height: 70px;
}

.profile-card .profile-pic img {
  border: none;
}

.profile-card .usernamee {
  font-weight: 500;
  font-size: 14px;
  color: #000;
}

.sub-text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
}

.action-btn {
  margin-left: 20px;
  opacity: 1;
  font-weight: 700;
  font-size: 12px;
}
.form-post-story {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.form-post-story input[type="text"],
.form-post-story input[type="file"] {
  border: 1px;
  outline: 5px;
  border-color: black;
  margin-left: 90px;
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem 1.5rem;
  padding-left: calc(1rem * 3.5);
  border-radius: 100px;
  width: 100%;
  transition: background 0.5s;
}
.form-post-story input:focus {
  background: white;
}
.form-post-story .selector-type:focus {
  background: white;
}
.selector-type {
  margin-top: 20px;
  border: 1px;
  outline: 5px;
  margin-left: 90px;
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem 1.5rem;
  padding-left: calc(1rem * 3.5);
  border-radius: 100px;
  width: 100%;
  transition: background 0.5s;
}
.inbox {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: white;
  border: 1px solid #dfdfdf;
}
.inbox-display {
  margin-top: -500px;
  margin-left: 280px;
  width: 600px;
  height: 500px;
  background: white;
  border: 1px solid #dfdfdf;
}
.sentto-inbox {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 600px;
  height: 60px;
  background: white;
  border: 1px solid #dfdfdf;
  margin-top: -10px;
  margin-left: 280px;
}
.chat-card {
  cursor: pointer;
  flex: 0 0 auto;
  width: 80px;
  max-width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}
.profile-pic-chatting {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  padding: 3px;
  margin-top: 5px;
  margin-left: 10px;
}
.profile-pic-chatting img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 50%;
}
.profile-pic-chat {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  padding: 3px;
  margin-top: 25px;
}

.profile-pic-chat img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 50%;
}
.chat-content {
  height: 85%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1em;
}

.messages {
  display: flex;
  max-width: 50%;
  align-self: flex-start;
  padding: 0.7em;
  border: 1px solid #dee2e6;
  border-radius: 25px;
  margin-top: 0.7em;
  background-color: rgb(225, 225, 225);
}

.user-sent {
  margin-top: 7px;
  max-width: 50%;
  align-self: flex-end;
  padding: 10px 20px;
  border: 1px solid #dee2e6;
  border-radius: 25px;
  background-size: 150%;
  background-image: linear-gradient(
    to right,
    rgba(65, 106, 255, 0.534),
    rgb(255, 214, 255)
  );
}
.username-chatting {
  cursor: default;
  width: 140px;
  display: inline-block;
  text-align: start;
  font-weight: 600;
  font-size: 14px;
  margin-top: 22px;
  margin-left: 0px;
  color: rgb(0, 0, 0);
}
.username-chat {
  width: 111px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
  font-weight: 400;
  font-size: 13px;
  margin-top: -50px;
  margin-left: 180px;
  color: rgb(0, 0, 0);
}
.inbox > h2 {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 15px;
}
.username-inbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 60px;
  background: white;
  border: 1px solid #dfdfdf;
  margin-top: -10px;
}
.username-inbox > h2 {
  font-size: 15px;
  font-weight: 500;
}
.add {
  width: 100%;
  height: auto;
  background-image: linear-gradient(
    to right,
    rgb(228, 228, 228),
    rgb(188, 188, 188),
    rgba(179, 179, 179, 0.984),
    rgb(166, 166, 166)
  );
  background-size: 600%;
  border: 1px solid #dfdfdf;
  border-radius: 15px;
  margin-top: 40px;
  transition: 1s;
}
.add:hover {
  background-position: right;
}
option[value="2"] {
  background-color: #ccc;
  font-weight: bold;
}

.form-post-story button {
  border: none;
  border-radius: 10px;
  width: 30%;
  margin-left: 200px;
  margin-bottom: 20px;
  background-size: 300%;
  background-image: linear-gradient(
    to right,
    rgb(243, 12, 12),
    rgb(254, 161, 2),
    rgb(171, 53, 108)
  );
  color: whitesmoke;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: 0.5s;
}
.form-post-story button:hover {
  background-position: right;
}

.form-post-story .form-item {
  position: relative;
  width: 400px;
}

.account-card {
  display: flex;
  position: absolute;
  text-align: start;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: -350px;
  margin-left: -800px;
}

.card-header {
  background: #fafafa;
  padding: 60px 40px;
}

.pic {
  display: inline-block;
  padding: 8px;
  background: linear-gradient(130deg, #ffb47b, #ff4545);
  margin: auto;
  border-radius: 50%;
  background-size: 200% 200%;
  animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient {
  25% {
    background-position: left bottom;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: right top;
  }
  100% {
    background-position: left top;
  }
}

.pic img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  color: #686868;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}
.desc {
  position: absolute;
}
.desc > p {
  font-size: 18px;
  color: #935252;
}
.follow-btn {
  position: absolute;
  width: 202px;
  padding: 12px 60px;
  text-decoration: none;
  color: #e66767;
  border: 2px solid #e66767;
  border-radius: 6px;
  margin-top: -146px;
  margin-left: 476px;
  transition: 0.3s linear;
}

.follow-btn:hover {
  background: #e66767;
  color: #f2f2f2;
}

.card-footer {
  display: flex;
  align-items: center;
  margin-top: 90px;
  margin-left: 0px;
  background: #fafafa;
  padding: 0px;
}

.numbers {
  display: flex;
  align-items: flex-start;
}

.item {
  flex: 1;
  text-transform: uppercase;
  font-size: 13px;
  color: #e66767;
}

.item span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2c3a47;
  font-size: 30px;
}

.border {
  display: flex;
  width: 0.7px;
  height: 20px;
  margin: 10px;
  background: #bbb;
}

.profile-container {
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
.profile-posts {
  width: 100%;
  display: flex;
  margin-top: -220px;
  margin-left: 10%;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile-post-size {
  object-fit: cover;
  max-width: 290px;
  min-width: 290px;
  min-height: 290px;
  max-height: 290px;
  margin: 0.5em;
}
.post-header {
  position: absolute;
  margin-top: -280px;
  display: flex;
  justify-content: center;
  margin-left: 160px;
  font-size: medium;
}
.post-border {
  position: absolute;
  margin-top: -250px;
  display: flex;
  justify-content: center;
  margin-left: 160px;
  border: 1px solid black;
  width: 160px;
}

@media (max-width: 1100px) {
  .right-col,
  .search-box {
    display: none;
  }
  .nav-wrapper,
  .wrapper {
    width: 90%;
  }
  .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .nav-items .icon {
    margin: 0 5px;
  }
  .post-image {
    height: 300px;
  }
}
/* Mobile phones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

/* Mobile phones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Mobile phones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
