@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right, #333399, #ff00cc);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login Card */
.login-card {
  width: 450px;
  background: rgba(255, 255, 255, 0.5);
  padding: 4rem;
  border-radius: 10px;
  position: relative;
}
.login-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.15);
  transform: rotate(-6deg);
  border-radius: 10px;
  z-index: -1;
}
/* ---------- */

/* Login Card Logo */
.login-card-logo {
  margin-bottom: 2rem;
}

.login-card-logo img {
  width: 220px;
}
/* ---------- */

/* Login Card Standard */
.login-card-logo,
.login-card-header,
.login-card-footer {
  text-align: center;
}

.login-card a {
  text-decoration: none;
  color: #35339a;
}

.login-card a:hover {
  text-decoration: underline;
}
/* ---------- */

/* Login Card Header */
.login-card-header {
  margin-bottom: 2rem;
}

.login-card-header h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.login-card-header h1 + div {
  font-size: calc(1rem * 0.8);
  opacity: 0.8;
}
/* ---------- */

/* Login Card Form */

@media (max-width: 768px) {
  body {
    padding: 2rem 0;
  }

  .login-card {
    width: 280px;
    padding: 2rem;
  }
}
