@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right, #333399, #ff00cc);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login Card */
.login-card {
  width: 450px;
  background: rgba(255, 255, 255, 0.5);
  padding: 4rem;
  border-radius: 10px;
  position: relative;
}

@media (max-width: 768px) {
  body {
    padding: 2rem 0;
  }

  .login-card {
    width: 280px;
    padding: 2rem;
  }
}
